body{
    display: flex;
    height: 100vh;
    background-color: #bfced3;
}
.sidebar{
    background-color: #0c476e;
    width: 250px;
    min-width: 250px;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: transform 0.3s ease;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}
img{
    width: 250px;
}
button{
    font-size: 20px;
    width: 150px;
    border-radius: 20px;
    margin-left: 45px;
    padding: 10px;
}
.menu-item{
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    font-size: 30px;
}